server:
  port: 9100
spring:
  application:
    name: shopping-member
eureka:
  client:
    service-url:
#      defaultZone: http://49.233.150.105:8100//eureka
      defaultZone: http://127.0.0.1:8100//eureka
#      defaultZone: http://127.0.0.1:8009/eureka/,http://127.0.0.1:8100/eureka/


    ###因为该应用为注册中心，不会注册自己
    register-with-eureka: true
    ###是否需要从eureka上获取注册信息
    fetch-registry: true

  instance:
    ###Eureka客户端向服务端发送心跳的时间间隔，单位为秒（客户端告诉服务端自己会按照该规则）
    lease-renewal-interval-in-seconds: 1
    ####Eureka服务端在收到最后一次心跳之后等待的时间上限，单位为秒，超过则剔除（客户端告诉服务端按照此规则等待自己）
    lease-expiration-duration-in-seconds: 2

